/* stylesheet for RockPaperScissors game */



.header {
  display: flex;
  justify-content: space-around;
  padding: 40px 0px;
  background-color: rgb(40, 22, 61);
  width: 100vw;
  color: rgb(204, 202, 202);
} 

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
}

.containerPlay {
  font-size: large;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  font: 100px;
  color: rgb(204, 202, 202);
}
#counterPlay {
  margin-top: 10px;
  color: rgb(204, 202, 202);
  font-size: 24px;
}
#counterComp {
  color: rgb(204, 202, 202);
  font-size: 24px;

}

body {
  display: flex;
  align-items: center;
  flex-direction: column ;
  background-color: rgb(58, 31, 100);
 }

 #roundPlay {
  margin-top: 10px;
  color: rgb(204, 202, 202);
  font-size: 24px;
 }

 .result {
  margin-top: 25px;
  color: yellow;
  font-weight: bold;
 }

  button {
    width: 100px;
    height: 100px;
    border-radius: 30px;
    background-color: rgb(92, 49, 160);
    margin-top: 50px;

  }
  button:hover {
    cursor: pointer;
  }
  
  .footer {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
    color: white;
    height: 80px;
  }